<div class="experience">
  <div class='job' skrollr
    ng-repeat="job in SiteModel.jobs"
    data-bottom-center="background-color:rgb(180,180,180); transform:scale(1)"
    data-center-center="background-color:rgb(230,230,230); transform:scale(1.02)"
    data-top-center="background-color:rgb(180,180,180); transform:scale(1)">
    <div class="job-header header">
      <div>
        <div class="job-company-container">
          <h3>{{job.company}}</h3>
          <img ng-src="{{job.logo}}">
        </div>
        <div class="sub-header">{{job.position}}</div>
      </div>
      <div class="job-header-date">{{job.date}}</div>
    </div>
    <p>{{job.description}}</p>
  </div>
  <div id="map-canvas">
    <div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
        <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>
    </div>
  </div>
</div>
