<div class="experience">
  <!-- <div d3-bars bar-height="20" bar-padding="5"></div> -->
  <div class="skills" skrollr
    data-bottom-center="background-color:rgb(180,180,180);"
    data-center-center="background-color:rgb(230,230,230);"
    data-top-center="background-color:rgb(180,180,180);">
    <div class="skills-header header">
      <div>
        <div>
          <h3>Skills</h3>
        </div>
        <div class="sub-header">100 = what I know and enjoy the most</div>
      </div>
    </div>
      <div d3-skill
        ng-repeat="skill in SiteModel.skills"
        class="skill"
        skill-label="{{skill.label}}"
        skill-value="{{skill.value}}">
      </div>
  </div>
  <div class='job' skrollr
    ng-repeat="job in SiteModel.jobs"
    data-bottom-center="background-color:rgb(180,180,180); transform:scale(1)"
    data-center-center="background-color:rgb(230,230,230); transform:scale(1.02)"
    data-top-center="background-color:rgb(180,180,180); transform:scale(1)">
    <div class="job-header header">
      <div>
        <div>
          <h3 class="job-company">{{job.company}}</h3>
          <img ng-src="{{job.logo}}">
        </div>
        <div class="sub-header">{{job.position}}</div>
      </div>
      <div class="job-header-date">{{job.date}}</div>
    </div>
    <p>{{job.description}}</p>
  </div>
  <div id="map-canvas">
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
      <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
  </div>
</div>
