<div class="interests">
  <div class="interests-activities">
    <div ng-click="setInterestsTab('soccer')" ng-class="{'active': interestsTab == 'soccer'}">
        <img src="img/interests/Soccer.jpg">
    </div>
    <div ng-click="setInterestsTab('skiing')" ng-class="{'active': interestsTab == 'skiing'}">
        <img src="img/interests/Skiing.jpg">
    </div>
    <div ng-click="setInterestsTab('tennis')" ng-class="{'active': interestsTab == 'tennis'}">
        <img src="img/interests/Tennis.jpg">
    </div>
    <div ng-click="setInterestsTab('coding')" ng-class="{'active': interestsTab == 'coding'}">
        <img src="img/interests/AngularJS.png">
    </div>
<!--     <div ng-click="setInterestsTab('renewable')" ng-class="{'active': interestsTab == 'renewable'}">
        <img src="img/interests/Renewable_Energy.jpg">
    </div> -->
  </div>
  <div class="interests-description">
    <div ng-switch on="interestsTab">
      <div class="animate-switch" ng-switch-when="soccer">

        <div class="container slider"
          ng-swipe-left="showNextPhoto(SiteModel.photoGallery.soccer.length)"
          ng-swipe-right="showPrevPhoto(SiteModel.photoGallery.soccer.length)">
          <img ng-repeat="photo in SiteModel.photoGallery.soccer"
            class="photo"
            ng-show="isActivePhoto($index)"
            ng-src="{{photo.src}}" />
          <a class="arrow prev" href=""
            ng-click="showPrevPhoto(SiteModel.photoGallery.soccer.length)"></a>
          <a class="arrow next" href=""
            ng-click="showNextPhoto(SiteModel.photoGallery.soccer.length)"></a>
          <ul class="thumbnails">
            <li ng-repeat="photo in SiteModel.photoGallery.soccer" ng-class="{'active':isActivePhoto($index)}">
              <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index)" />
            </li>
          </ul>
        </div>

        I have lived and breathed soccer since I was six years old, and still enjoy playing at University. Soccer is my favourite sport, by far, as it is very athletic and can be played during all times of the year (otherwise skiing would take the lead). Soccer has been a very big part of my life, as I have been on many different teams and quite a few camps. I played on the Bainbridge FC team from the age of 12 to the age of 17, where we played in many tournaments across Washington State. During this time I also attended soccer camps during the summers, one of which I went to multiple times, called Vogelsinger Soccer Camp.
        <br><br>
        Fortunately the Select team did not interfere with the high school team, so I was able to play Junior Varsity and Varsity soccer in high school, while still playing Select. In 2011, we had the best Varsity soccer season Bainbridge High School had ever had, as we became Metro Champions, made it to Quarter-finals, Semi-finals, and State Finals, as well as Academic State Champions for the highest overall player GPAs. We placed second in State and were overwhelmed with excitement. Once at university, I made the University of Waterloo's Varsity Soccer team in the fall of 2012 and had a great time travelling around Ontario for games.
      </div>
      <div class="animate-switch" ng-switch-when="skiing">

        <div class="container slider"
          ng-swipe-left="showNextPhoto(SiteModel.photoGallery.skiing.length)"
          ng-swipe-right="showPrevPhoto(SiteModel.photoGallery.skiing.length)">
          <img ng-repeat="photo in SiteModel.photoGallery.skiing"
            class="photo"
            ng-show="isActivePhoto($index)"
            ng-src="{{photo.src}}" />
          <a class="arrow prev" href=""
            ng-click="showPrevPhoto(SiteModel.photoGallery.skiing.length)"></a>
          <a class="arrow next" href=""
            ng-click="showNextPhoto(SiteModel.photoGallery.skiing.length)"></a>
          <ul class="thumbnails">
            <li ng-repeat="photo in SiteModel.photoGallery.skiing" ng-class="{'active':isActivePhoto($index)}">
              <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index)" />
            </li>
          </ul>
        </div>

        I have had the privilege to ski since I was two years old and have enjoyed everything from racing to back-country to freestyle. While living in Waterloo, Ontario, from the age of three until the age of nine, I skiied every weekend of every winter at Osler Bluff Ski Club in Collingwood, Ontario. My sister and I took lessons and raced at other ski clubs throughout Ontario. After moving to the United States, we skiied for recreation, enjoying the mountains that Washington and British Columbia have to offer. In the years I have lived in the Northwest, I have had the good fortune to ski at many locations including: Whistler, Big White, Banff, Sun Peaks, Mount Baker, Steven's Pass, Crystal Mountain, Snoqualmie Pass, Alpental, Silver Star, and more!
      </div>
      <div class="animate-switch" ng-switch-when="tennis">

        <div class="container slider"
          ng-swipe-right="showPrevPhoto(SiteModel.photoGallery.tennis.length)"
          ng-swipe-left="showNextPhoto(SiteModel.photoGallery.tennis.length)">
          <img ng-repeat="photo in SiteModel.photoGallery.tennis"
            class="photo"
            ng-show="isActivePhoto($index)"
            ng-src="{{photo.src}}" />
          <a class="arrow prev" href=""
            ng-click="showPrevPhoto(SiteModel.photoGallery.tennis.length)"></a>
          <a class="arrow next" href=""
            ng-click="showNextPhoto(SiteModel.photoGallery.tennis.length)"></a>
          <ul class="thumbnails">
            <li ng-repeat="photo in SiteModel.photoGallery.tennis" ng-class="{'active':isActivePhoto($index)}">
              <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index)" />
            </li>
          </ul>
        </div>

        I have enjoyed playing tennis since I was six years old in Waterloo, Ontario. I was very fortunate to live in a neighbourhood that had tennis courts, so during each summer from the age of six to the age of ten, I walked to courts for lessons. Upon moving to Bainbridge Island, Washington, I was very fortunate, again, to have a tennis/athletic club near my house, called Bainbridge Athletic Club (BAC). I became a tennis member at BAC in 2006 and joined the Junior Tennis Academy from 2007 to 2009. I also joined the United States Tennis Association (USTA) Junior team in 2007 and played competitively in Junior tournaments for the next two years. Unfortunately the high school tennis season coincided with the soccer season so I played high school soccer instead of tennis. I still enjoy getting out on the court whenever I meet a fellow tennis player.
      </div>
      <div class="animate-switch" ng-switch-when="coding">

        <div class="ea-team-container">
          <img class="ea-team" ng-src="{{SiteModel.photoGallery.coding.src}}" title="{{SiteModel.photoGallery.coding.desc}}" />
        </div>

        Pictured above is the development team I was fortunate enough to be a part of while working at Electronic Arts. It was during this term that I fell in love with Angular and decided to build this site using the magic of Angular! I have fallen in love with coding, in general, since coming to university. To me it sometimes feels like virtual lego that involves puzzle-solving. All I know is that I am happy when I code, so I continue to do so.
        <br><br>
        As for the type of coding I prefer, I must say I definitely enjoy front end development the most. I enjoy the design aspect combined with the functionality. Having said that, I have done a fair bit of backend development as well, and recognize the importance of having experience in both areas.
        <br><br>
        My go-to language would have to be JavaScript since that is the only one really available for frontend development. Throw Angular on there as a framework, maybe add jQuery if you are alright with parting from vanilla JavaScript, and then we're talking. My go-to IDE/text editor at the moment is Sublime Text 3 since there are packages to add mad customizability, but Atom could take the lead in due time. Overall though, I always enjoy playing with new languages, frameworks, libraries, text-editors, etc.
      </div>
      <div class="animate-switch" ng-switch-when="renewable">
        I have had a great interest in renewable energy throughout high school and into university, and have worked on many projects regarding different areas of renewable energy. Here are four of the presentations I have made and one of the essays regarding renewable energy, varying from helping poverty-stricken areas by supplying them with solar panels to making zero gas emission vehicles. Three of the presentations were made in high school and another was made for MSCI 100 at the University of Waterloo.
      </div>
    </div>
  </div>
</div>
