<div class="resume" ng-init="setTab('resume')" resume-pdf>
    <div class="resume-links">
      <a href="external/Jack_Forbes_Resume.pdf"
        download="Jack_Forbes_Resume"
        class="resume-download">Download
      </a>
      <a href="external/Jack_Forbes_Resume.pdf"
        target="_blank"
        class="resume-download">View In New Tab
      </a>
    </div>
  <canvas id="resume-page-one" class="resume-canvas"></canvas>
  <canvas id="resume-page-two" class="resume-canvas"></canvas>
</div>
