<div class="web-dev">
  <h3 class="header">Web Development</h3>
  <div class="projects">
    <div ng-repeat="project in SiteModel.projects" class="project">
      <a ng-href="{{project.href}}" target="_blank">
        <img class="project-icon" ng-src="{{project.iconSrc}}">
      </a>
      <div>
        <img class="project-arrow"
          src="img/projects/down_arrow.png"
          ng-click="show = !show"
          ng-class="{'rotate': show}">
      </div>
      <div class="project-description" ng-show="show">{{project.description}}</div>
    </div>
  </div>
</div>
