<div class="web-dev">
  <h3 class="header">Web Development</h3>
  <div class="projects">
    <div ng-repeat="project in SiteModel.projects" class="project">
      <h4 class="project-title">{{project.title}}</h4>
      <div class="project-link">
        <a ng-href="{{project.href}}" target="_blank">
          <img class="project-icon" ng-src="{{project.iconSrc}}">
        </a>
        <i class="fa fa-external-link"></i>
      </div>
      <div class="project-description"
        ng-class="{'faded': !showDescription}"
        ng-click="showDescription = true; hideReadMore={'display':'none'}"
        ng-mouseover="showReadMore = true"
        ng-mouseleave="showReadMore = false">{{project.description}}
      </div>
      <i class="fa fa-chevron-down readMore"
        ng-show="showReadMore"
        ng-style="hideReadMore">
      </i>
    </div>
  </div>
</div>
