<div class="resume" ng-init="setTab('resume')" resume-pdf>
    <div><a href="external/Jack_Forbes_Resume.pdf"
        download="Jack_Forbes_Resume"
        class="downloadResume">Download</a><a href="external/Jack_Forbes_Resume.pdf"
        target="_blank"
        class="downloadResume">View In New Tab</a>
    </div>
  <canvas id="resume-page-one" class="resume-canvas"></canvas>
  <canvas id="resume-page-two" class="resume-canvas"></canvas>
<!--   <p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
  </p> -->
</div>
