<footer class="footer background-accent">
  <div class="social-links padding-lg" layout layout-align="space-around center" layout-align-gt-xs="center center">
    <md-button class="md-icon-button hover-none" ng-href="https://www.padpiper.com" target="_blank" rel="noopener" aria-label="PadPiper">
      <md-icon class="icon--logo" md-svg-icon="logo"></md-icon>
    </md-button>
    <md-button class="md-icon-button hover-none" ng-href="https://github.com/JackForbes" target="_blank" rel="noopener" aria-label="Twitter">
      <md-icon class="icon--white" md-svg-icon="github"></md-icon>
    </md-button>
    <md-button class="md-icon-button hover-none" ng-href="https://www.linkedin.com/in/greaturl" target="_blank" rel="noopener" aria-label="LinkedIn">
      <md-icon class="icon--white" md-svg-icon="linkedin"></md-icon>
    </md-button>
  </div>
</footer>
