<md-toolbar class="site-nav md-menu-toolbar ng-cloak">
  <md-progress-linear class="site-loading-bar" md-mode="indeterminate" ng-show="ctrl.auth.isLoading"></md-progress-linear>

  <div class="md-toolbar-tools">

    <!-- Left Side -->
    <md-button hide-gt-xs class="md-icon-button" ng-click="ctrl.toggleNav()" aria-label="Navigation menu">
      <md-icon md-svg-icon="navigation_menu" class="hamburgerMenu"></md-icon>
    </md-button>
    <span hide-gt-xs flex></span>
    <a class="logo hover-none" ui-sref="home" ui-sref-opts="{ reload: true }" aria-label="Home">
      <md-icon ng-if="ctrl.$mdMedia('xs')" md-svg-icon="logo"></md-icon>
      <md-icon ng-if="ctrl.$mdMedia('gt-xs')" md-svg-icon="padpiper"></md-icon>
    </a>

    <span flex></span>

    <!-- Right Side -->
    <!-- Less than 600px -->
    <md-menu hide-gt-xs ng-if="!ctrl.auth.user" md-position-mode="target-right target" md-offset="0 32">
      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Sign In Menu">
        <md-icon md-menu-origin md-svg-icon="social_person"></md-icon>
      </md-button>
      <md-menu-content class="padding-none" width="2">
        <md-menu-item>
          <md-button ng-click="ctrl.openLoginDialog($event)">
            Sign In
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.openLoginDialog($event, true)">
            Join
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <!-- Greater Than 600px -->
    <a hide-xs ng-if="!ctrl.auth.user || ctrl.auth.role === 'landlord'" class="toolbar-nav-link body-text margin-sides" href ng-click="ctrl.goToPage($event, 'listing-new', true, true)" ng-class="{ active: ctrl.state.includes('listing-new') }" layout layout-align="center center">List a Space</a>
    <a hide-xs class="toolbar-nav-link body-text margin-sides" layout layout-align="center center" ng-class="{ active: ctrl.state.includes('listings') }" ui-sref="listings({ city: ctrl.auth.input.address.city, state: ctrl.auth.input.address.state, start: ctrl.auth.input.start, months: ctrl.auth.input.duration })">Browse Rentals</a>
    <a hide-xs ng-if="ctrl.auth.role === 'student' || ctrl.auth.role === 'admin'" class="toolbar-nav-link body-text margin-sides" layout layout-align="center center" ui-sref-active="active" ui-sref="peers">Connect</a>

    <!-- Notifications -->
    <md-menu ng-if="ctrl.auth.user" md-position-mode="target-right target" md-offset="0 32">
      <md-button class="md-icon-button overflow-visible" ng-click="$mdMenu.open($event)" aria-label="Notifications Menu">
        <md-icon md-menu-origin md-svg-icon="notifications" ng-class="{'icon--black': ctrl.auth.user.notifications.length > 0}"></md-icon>
        <span class="count-float-right" ng-if="ctrl.auth.user.notifications.length">{{ ctrl.auth.user.notifications.length }}</span>
      </md-button>
      <md-menu-content class="notifications-menu padding-none" width="4">
        <md-menu-item>
          <div class="margin-sides border--light bottom" layout layout-align="center center">
            <h4>Notifications</h4>
          </div>
        </md-menu-item>
        <div>
          <md-menu-item class="notifications-menu-item" ng-repeat="notification in ctrl.auth.user.notifications" layout layout-align="start center">

            <!-- Booking Request Created -->
            <div ng-if="notification.type === 'booking_request_created'" class="margin-top-sm">
              New booking request from {{ notification.data.student_name }}
              <a class="inline-block" ui-sref="requests({ bookingId: notification.data.booking_request_id })" ui-sref-opts="{ reload: true }">
                View request
              </a>
            </div>

            <!-- Booking Request Transitioned -->
            <div ng-if="ctrl.includes(['booking_request_accepted', 'booking_request_declined', 'booking_request_payment_requested', 'booking_request_paid', 'booking_request_payment_declined', 'booking_request_cancelled', 'booking_request_expired', 'payment_request_expired', 'payment_succeeded', 'payment_failed', 'payment_refunded'], notification.type)" class="relative">
              <span ng-if="ctrl.includes(['booking_request_accepted', 'booking_request_declined', 'booking_request_payment_requested', 'payment_refunded'], notification.type)">{{ notification.data.landlord_name }}</span>
              <span ng-if="ctrl.includes(['booking_request_payment_declined', 'booking_request_paid'], notification.type)">{{ notification.data.student_name }}</span>
              <span ng-if="ctrl.includes(['booking_request_cancelled', 'booking_request_expired', 'payment_succeeded', 'payment_failed'], notification.type)">{{ ctrl.auth.user.role === 'student' ? 'Your' : notification.data.student_name + "'s" }}</span>
              <span ng-if="notification.type === 'payment_request_expired'">{{ ctrl.auth.user.role === 'student' ? notification.data.landlord_name + "'s" : 'Your' }}</span>

              <span ng-if="notification.type === 'booking_request_accepted'"> accepted your booking request</span>
              <span ng-if="notification.type === 'booking_request_declined'"> declined your booking request{{ notification.data.reason ? ' for the reason: ' + notification.data.reason : '' }}</span>
              <span ng-if="notification.type === 'booking_request_payment_requested'"> accepted your booking request and requested payment</span>
              <span ng-if="notification.type === 'booking_request_payment_declined'"> declined to pay the rental deposit{{ notification.data.reason ? ' for the reason: ' + notification.data.reason : '' }}</span>
              <span ng-if="notification.type === 'booking_request_paid'"> paid the rental deposit</span>
              <span ng-if="notification.type === 'booking_request_cancelled'"> booking request was cancelled{{ notification.data.reason ? ' for the reason: ' + notification.data.reason : '' }}</span>
              <span ng-if="notification.type === 'booking_request_expired'"> booking request expired</span>
              <span ng-if="notification.type === 'payment_request_expired'"> payment request expired</span>
              <span ng-if="notification.type === 'payment_succeeded'"> payment succeeded, congrats!</span>
              <span ng-if="notification.type === 'payment_failed'"> payment failed</span>
              <span ng-if="notification.type === 'payment_refunded'"> refunded you rental deposit payment</span>

              <div>
                <a ng-if="notification.type === 'booking_request_payment_requested'" class="inline-block" ui-sref="requests({ bookingId: notification.data.booking_request_id })" ui-sref-opts="{ reload: true }">
                  View payment request
                </a>
                <a ng-if="notification.type === 'payment_refunded'" class="inline-block" ui-sref="payments" ui-sref-opts="{ reload: true }">
                  View payment history
                </a>
              </div>
            </div>

            <!-- Tenancy Created -->
            <div ng-if="notification.type === 'tenancy_created'">
              <div>{{ notification.data.landlord_name }} {{ notification.data.start | isFuture : 'added you to' : 'says you stayed at' }} {{ notification.data.listing_title }}</div>
              <a ui-sref="dashboard">
                View tenant request
              </a>
            </div>

            <!-- Tenancy Accepted/Declined -->
            <div ng-if="ctrl.includes(['tenancy_accepted', 'tenancy_declined'], notification.type)">
              {{ notification.data.student_name }} {{ notification.type === 'tenancy_accepted' ? 'accepted' : 'declined' }} your tenant request
            </div>

            <!-- Reviews -->
            <div ng-if="notification.type === 'review'">
              <div>{{ notification.data.student_name }} added a review to <span>{{ notification.data.listing_title }}</span></div>
              <div class="margin-top-sm" layout layout-align="start center">
                <a ui-sref="listing.view({ listingId: notification.data.listing_id })">
                  View review
                </a>
              </div>
            </div>

            <!-- Create Referral Code -->
            <div ng-if="notification.type === 'create_referral'">
              <div>Create a referral link and start earning money.</div>
              <div class="margin-top-sm">
                <a ui-sref="referrals">Create referral link</a>
              </div>
            </div>

            <!-- Dismiss -->
            <md-button ng-if="!ctrl.includes(['create_referral', 'review', 'tenancy_created', 'booking_request_payment_requested'], notification.type)" class="hover-none md-icon-button" ng-click="ctrl.deleteNotification(notification.id, $index)">
              <md-icon class="icon--20 icon--accent no-grow" md-svg-icon="close_gray"></md-icon>
            </md-button>

          </md-menu-item>
          <md-menu-item ng-if="!ctrl.auth.user.notifications.length">
            <div layout layout-align="center center">
              <span class="md-margin">
                <md-icon md-svg-icon="notifications"></md-icon>
              </span>
              <p class="md-margin">All caught up!</p>
            </div>
          </md-menu-item>
        </div>
      </md-menu-content>
    </md-menu>

    <md-button ng-if="ctrl.auth.user" class="md-icon-button overflow-visible hover-none" ui-sref="messages" aria-label="Messages">
      <md-icon md-svg-icon="messages" ng-class="{'icon--black': ctrl.auth.unreadMessageCount > 0}"></md-icon>
      <span class="count-float-right" ng-if="ctrl.auth.unreadMessageCount > 0">{{ ctrl.auth.unreadMessageCount }}</span>
    </md-button>
    <md-menu ng-if="ctrl.auth.user" md-position-mode="target-right target" md-offset="0 32">
      <md-button class="hover-none" md-no-ink ng-click="$mdMenu.open($event)" aria-label="Profile Menu">
        <div layout layout-align="center center">
          <div class="margin-right-sm">
            <img ng-if="ctrl.auth.user.profile_img" class="toolbar-headshot background-grey round center text-shadow" ng-src="{{ctrl.auth.user.profile_img | imageResize: 60}}" alt="{{ctrl.auth.user.first_name | limitTo: 1}}" />
            <img ng-if="!ctrl.auth.user.profile_img && ctrl.auth.user.role !== 'landlord'" class="toolbar-headshot round center text-shadow" ng-src="{{ctrl.display.images.headshotDefaultStudent | imageResize: 60}}" alt="{{ctrl.auth.user.first_name | limitTo: 1}}" />
            <img ng-if="!ctrl.auth.user.profile_img && ctrl.auth.user.role === 'landlord'" class="toolbar-headshot round center text-shadow" ng-src="{{ctrl.display.images.headshotDefaultLandlord | imageResize: 60}}" alt="{{ctrl.auth.user.first_name | limitTo: 1}}" />
          </div>
          <md-icon class="icon--14 margin-none" md-menu-origin md-svg-icon="dropdown"></md-icon>
        </div>
      </md-button>
      <md-menu-content class="padding-none" width="2">
        <md-menu-item>
          <md-button class="hover-none" ui-sref="dashboard">
            Dashboard
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="hover-none" ui-sref="profile">
            Profile
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.auth.user.role === 'landlord'">
          <md-button class="hover-none" ui-sref="my-listings">
            Listings
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.auth.user.role !== 'landlord'">
          <md-button class="hover-none" ui-sref="requests">
            Bookings
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.auth.user.role !== 'landlord'">
          <md-button class="hover-none" ui-sref="favorites">
            Favorites
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="hover-none" ui-sref="settings">
            Settings
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.auth.user.role !== 'landlord'">
          <md-button class="hover-none" ui-sref="referrals">
            Referrals
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.signout()">
            Sign out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <!-- Sign In -->
    <a hide-xs ng-if="!ctrl.auth.user" class="body-text margin-sides" href ng-click="ctrl.openLoginDialog($event)">Sign In</a>
    <div hide-xs ng-if="!ctrl.auth.user">
      <md-button class="md-primary md-raised hover-none" ng-click="ctrl.openLoginDialog($event, true)">Join</md-button>
    </div>
  </div>
</md-toolbar>
