/* Primary content area */
.home-hero {
  $cloud-sizes: 32px, 44px, 46px, 18px, 32px;
  position: relative;
  height: auto;
  padding: 6% 3% 64%;
  background-color: $home-background;
  background-image: url($image-url + 'general/home-hero.png');
  background-size: 163%;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 0;
  @include gt-xs {
    background-size: 100%;
    padding: 6% 3% 44%;
  }
  @include gt-sm {
    padding: 6% 3% 34%;
  }
  @for $i from 1 through length($cloud-sizes) {
    .cloud#{$i} {
      position: absolute;
      width: nth($cloud-sizes, $i);
      height: auto;
      @include gt-xs {
        width: nth($cloud-sizes, $i) * 2;
      }
      @include gt-md {
        width: nth($cloud-sizes, $i) * 4;
      }
    }
  }

  .cloud1 {
    bottom: 26%;
    right: 15%;
    animation: slideLeft $background-cloud-duration linear 1 forwards;
    @include gt-xs {
      bottom: 32%;
    }
    @include gt-sm {
      bottom: 44%;
    }
  }

  .cloud2 {
    bottom: 25%;
    right: 36%;
    animation: slideLeft $background-cloud-duration linear 1 forwards;
    @include gt-xs {
      bottom: 35%;
    }
    @include gt-sm {
      bottom: 40%;
    }
  }

  .cloud3 {
    bottom: 25%;
    left: 46%;
    animation: slideRight $background-cloud-duration linear 1 forwards;
    @include gt-xs {
      bottom: 37%;
    }
    @include gt-sm {
      bottom: 42%;
    }
  }

  .cloud4 {
    bottom: 24%;
    right: -8%;
    animation: slideLeft $background-cloud-duration linear 1 forwards;
    @include gt-xs {
      bottom: 46%;
      right: 7%;
    }
    @include gt-sm {
      bottom: 53%;
    }
  }

  .cloud5 {
    bottom: 25%;
    left: 8%;
    animation: slideRight $background-cloud-duration linear 1 forwards;
    @include gt-xs {
      bottom: 42%;
    }
    @include gt-sm {
      bottom: 44%;
    }
  }

  .sun {
    position: absolute;
    bottom: 25%;
    left: 4%;
    width: 42px;
    height: 42px;
    @include gt-xs {
      bottom: 42%;
      left: 6%;
      width: 64px;
      height: 64px;
    }
    @include gt-sm {
      bottom: 55%;
      width: 80px;
      height: 80px;
    }
    @include gt-md {
      bottom: 58%;
      width: 120px;
      height: 120px;
    }
  }
}

.intro .intro-title {
  max-width: 710px;
}

.input-city {
  top: -12px;
  min-width: 200px;
  max-width: 300px;
  @include xs {
    top: 0;
    margin: 0 auto;
  }

  input {
    background-color: $white;
    @include placeholder-color {
      color: $grey !important;
    }
  }
}

.value-props-section {
  .value-prop {
    width: 300px;
    @include gt-xs {
      width: 380px;
    };

    .img-container {
      min-width: 64px;
      height: 50px;
      text-align: center;
      @include gt-xs {
        min-width: 84px;
        height: 70px;
      };
    }
  }
}

.home-section {
  padding: 0 6%;
  @include gt-content-max-width {
    padding: 0;
  };
}

.extra-space-section {
  max-width: 880px;

  img {
    position: absolute;
    top: -10px;
    right: $default-spacing * 3;
    width: 215px;
    height: auto;
  }
}

.dot-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;

  .dot {
    width: 8px;
    height: 8px;
    margin: 4px;
    background: rgba(256,256,256,.6);
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    &.active,
    &:hover {
      background: rgba(256,256,256,.9);
    }
  }
}

.cities-container {
  height: 248px;
  @include gt-xs {
    height: 400px;
  }

  .dot-container {
    top: -48px;

    .dot {
      background: $extra-light-grey;

      &.active,
      &:hover {
        background: $grey;
      }
    }
  }
}

.cities-carousel {
  position: relative;
  width: 900px;
  transition: transform $transition-duration $cubic-bezier;
  @include gt-xs {
    width: 1800px;
  }
}
$cities-count: 5;
$city-width-xs: 140px;
$city-margin-xs: $default-spacing;
$city-y-offset-xs: -$default-spacing / 2;
$city-width-gt-xs: 280px;
$city-margin-gt-xs: $default-spacing * 2;
$city-y-offset-gt-xs: -$default-spacing;
@for $i from 0 through ($cities-count - 1) {
  .cities-carousel.active-#{$i} {
    transform: translateX(($city-width-xs + ($city-margin-xs * 2)) * (2 - $i));
    @include gt-xs {
      transform: translateX(($city-width-gt-xs + ($city-margin-gt-xs * 2)) * (2 - $i));
    }

    .cities-tile:nth-child(#{$i + 2}),
    .cities-tile:nth-child(#{$i}) {
      transform: translateY($city-y-offset-xs);
      @include gt-xs {
        transform: translateY($city-y-offset-gt-xs);
      }
    }

    .cities-tile:nth-child(#{$i + 3}),
    .cities-tile:nth-child(#{$i - 1}) {
      transform: translateY($city-y-offset-xs * 3);
      @include gt-xs {
        transform: translateY($city-y-offset-gt-xs * 3);
      }
    }
  }
}

.cities-tile {
  width: $city-width-xs;
  margin: $city-margin-xs / 2 $city-margin-xs;
  transition: opacity $transition-duration $cubic-bezier-button, transform $transition-duration $cubic-bezier;
  @include gt-xs {
    width: $city-width-gt-xs;
    margin: $city-margin-gt-xs / 2 $city-margin-gt-xs;
  }

  &.curtain:focus {
    outline: none;
    opacity: $partly-hidden-opacity;
  }

  &:not(.curtain):focus {
    outline: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.section--one {
  background-color: $light-blue;

  .section-content {
    max-width: 730px;
    padding: 6% 3% 12%;
  }
}

.section--two {
  padding: 6% 3%;

  .section-content {
    max-width: $content-max-width + $default-spacing * 4;
  }

  img {
    width: auto;
    height: 40px;
    @include gt-xs {
      height: 60px;
    };
  }
}

.footer {
  color: $white;
  background-color: $accent-color;

  > div {
    padding: $default-spacing * 2 $default-spacing;

    &:nth-child(1) {
      border-bottom: 1px solid $medium-grey;
      @include gt-xs {
        padding: $default-spacing * 4 $default-spacing;
      };
    }
  }

  img {
    height: 45px;
  }
  @include gt-sm {
    .copyright {
      position: absolute;
      left: $default-spacing * 4;
      top: 37px;
    }

    .social-links {
      position: absolute;
      right: $default-spacing * 4;
      top: 26px;
    }
  };
}

.sunset {
  $sunset-transition-duration: 8s;
  $sunset-transition-function: $cubic-bezier;

  .home-hero,
  .site-nav {
    background-color: $accent-color;
    transition: background-color $sunset-transition-duration $sunset-transition-function;

    * {
      color: $white !important;
      fill: $white !important;
      transition: color $sunset-transition-duration $sunset-transition-function, fill $sunset-transition-duration $sunset-transition-function !important;
    }

    md-select .md-text, .input-city input {
      color: $accent-color !important;
    }
  }

  .home-hero .sun {
    left: 46%;
    animation: sunset $sunset-transition-duration $sunset-transition-function forwards;

    * {
      color: $white;
      fill: $white;
    }
  }
}

.schools-container {
  $school-heights: 94px, 83px, 58px, 34px, 50px, 42px, 68px, 43px, 82px;

  .school-container {
    width: auto;
    margin: $default-spacing $default-spacing / 2;

    @include gt-xs {
      margin: $default-spacing * 2;
    };
  }
  @for $i from 1 through length($school-heights) {
    .school-container:nth-child(#{$i}) {
      height: nth($school-heights, $i) / 2;
      @include gt-xs {
        height: nth($school-heights, $i);
      }
    }
  }
}

.ambassador-hero {
  height: auto;
  padding: 6% 3% 64%;
  background-color: $home-background;
  background-image: url($image-url + 'general/ambassador-hero.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  @include gt-xs {
    padding: 6% 3% 34%;
  };
  @include gt-sm {
    padding: 6% 3% 28%;
  };
}

.ambassador-props-section {
  > div:first-child {
    max-width: 600px;
  }

  .ambassador-props {
    max-width: 820px;
  }

  $image-names: 'money', 'network', 'swag';
  $image-widths: 320px, 329px, 327px;
  $image-heights: 346px, 320px, 327px;
  @for $i from 1 through length($image-names) {
    .#{nth($image-names, $i)} {
      width: nth($image-widths, $i) * .5;
      height: nth($image-heights, $i) * .5;
      @include gt-xs {
        width: nth($image-widths, $i) * .66;
        height: nth($image-heights, $i) * .66;
      }
      @include gt-sm {
        width: nth($image-widths, $i);
        height: nth($image-heights, $i);
      }
    }
  }
}
